@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}



body {
    background-color: #cecece;
    border-radius: 5px;

}

.container {
    padding: 2rem 2rem;
  }

.navbar .logo a {
    color: #D1AC00;
    font-size: 35px;
    font-weight: 500;
}

.navbar {
    width: 100%;
    padding: 10px 10px;
    border-radius: 5px;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;   
    background-color: #0C1618;
    border-bottom: solid #D1AC00 2px;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu li {
    list-style: 2px;
    display: inline-flex;
}

.navbar .menu li a {
    display: block;
    color: #D1AC00;
    font-size: 18px;
    margin-left: 28px;
}

.menu-btn {
    color: #D1AC00;
    font-size: 23px;
    cursor: pointer;
    display: none;
    text-align: center;
}


table {
    color: #0C1618; /* Define a cor do texto dentro da tabela */
    width: 100%;
    margin-top: 50px;
    font-size: 23px;
    border-radius: 5px;


}

th, td {
    padding: 5px; /* Espaçamento interno das células */
    text-align: center;
    border-bottom: 1px solid #0C1618; /* Borda inferior */
}

thead {
    background-color: #0C1618; /* Cor de fundo do cabeçalho */
    color:#D1AC00; /* Cor do texto no cabeçalho */
    border-radius: 5px;

}

/* Estilo para células de ação, caso necessário */
.actions {
    width: 100px;
}
.selected-row {
    border: 2px solid #519872; /* Cor da borda para destacar */
    background-color: #3B5249; /* Cor de fundo para destacar */
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .modal-open {
    display: flex;
  }
  
  .modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .modal-form-group {
    margin: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

  }

  .modal-content {
    background-color: #cecece;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 300px;
    text-align: center;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem 0rem;
    border-bottom: 1px solid #ccc; 
  }
  
  .modal-actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .btn-confirm,
  .btn-cancel {
    padding: 0.5rem 1rem;
    border:  solid white;
    border-radius: 4px;
    cursor: pointer;
  }
    
  .btn-confirm {
    background-color: #e53e3e;
    color: white;
  }
  
  .btn-cancel {
    background-color: #0C1618;
    color: white;
  }
  .btn-salvar{
    padding: 0.5rem 1rem;
    border:  solid white;
    border-radius: 4px;
    cursor: pointer;
  }
  .btn-salvar {
    background-color: #13bb83;
    color: white;
  }
  

  .user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .align-center {
    display: flex;
    justify-content: center;
  }
  
  .btn-salvar {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-salvar:hover {
    background-color: #0056b3;
  }
  
 
  
  
  
  
  
  